<!DOCTYPE html>
<html>
<head>
    <title>System Architecture</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Blockchain Cheque Verification Architecture</h1>

    <div class="architecture-box">

        <div class="step">1️⃣ Upload Cheque PDF</div>

        <div class="arrow">⬇</div>

        <div class="step">2️⃣ OCR Extracts Cheque Data</div>

        <div class="arrow">⬇</div>

        <div class="step">3️⃣ SHA-256 Hash Generation</div>

        <div class="arrow">⬇</div>

        <div class="step">4️⃣ Store Hash on Blockchain</div>

        <div class="arrow">⬇</div>

        <div class="step">5️⃣ Compare Hashes</div>

        <div class="arrow">⬇</div>

        <div class="step">6️⃣ VALID / TAMPERED Result</div>

    </div>

    <br>

    <a href="/">
        <button>Go Home</button>
    </a>

</div>

</body>
</html>