<!DOCTYPE html>
<html>
<head>
    <title>Blockchain Cheque Verification System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- Navbar -->
<nav>

    <div class="logo">
        BCVS
    </div>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register-page">Register</a></li>
    <li><a href="/verify-page">Verify</a></li>
    <li><a href="/architecture">Architecture</a></li>
    <li><a href="/logs">Logs</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
</ul>

</nav>

<!-- Hero Section -->
<div class="hero">

    <h1>Blockchain Cheque Verification System</h1>

    <p>
        Secure and tamper-proof cheque verification using OCR,
        SHA-256 hashing, and blockchain technology.
    </p>

  <a href="/register-page">
    <button>🚀 Get Started</button>
</a>

</div>

<!-- Features Section -->
<div class="features">

    <div class="feature-card">
        <h2>🔐 Secure Verification</h2>
        <p>Ensures cheque integrity using blockchain technology.</p>
    </div>

    <div class="feature-card">
        <h2>⚡ Fast Detection</h2>
        <p>Instantly detects cheque tampering through hashing.</p>
    </div>

    <div class="feature-card">
        <h2>📜 Verification Logs</h2>
        <p>Maintains transparent verification history records.</p>
    </div>

</div>
<footer>
    © 2026 Blockchain Cheque Verification System | Developed by Pooja
</footer>

</body>
</html>